app-series-visualization {
  width: 100%;
}

.visualization-panel-container {
  background-color: grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.visualization-panel, {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.series-panel{
  overflow-wrap: anywhere;
  padding-top: 20px;
}

.item {
  width: 10px;
  height: 10px;
}

.true {
  background-color: black;
}

.false {
  background-color: white;
}
