.file-panel{
  background-color: grey;
}

.file-content{
  overflow-wrap: anywhere;
}

.result-panel{
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;

  button{
    margin-bottom: 20px;
  }
}
